@{
    ViewData["Title"] = "Home Page";
    ViewData["Message"] = "The Minimalist Website of John Hooper";
    var ch = "cheery";
}
<div class="row @ch"></div>
<div class="row">
  <div class="col-sm-2 @ch"></div>
  <div class="col-sm-8 lightup">
    <p>This is a @ch new ASP.NET Core website I'm working on.  Maybe after the holidays I will have more time. Below is a link to my current resume. </p>
<a href="https://docs.google.com/document/d/1VJ-GJQn6N6GzlqATdMrLk0aJ71ZQ444JtMXfsP09Cqs/edit?usp=sharing">My Resume</a>
  </div>
  <div class="col-sm-2 @ch"></div>
</div>
<div class="row @ch"></div>

@section scripts
{
  <script type="text/javascript">
  </script>
}